.cont_3
  footer.footer
    .footer-left
      p
        | CourseWork for Web Technologies by 000010114
      .social
        a(href='https://github.com/00010114/TODO_CW2')
          i.fab.fa-github-square
    .footer-bottom
      p Created by 00010114
