.wrap
  header
    .menu
      ul
        li
          a(href='/') Menu
  .content-nav
    h1 Your TODO App 
    p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
        